.signupProgress {
  width: 100%;
  margin-bottom: 32px;
}

.signupProgressStepLabel {
  margin-left: 8px;
  opacity: 0.7;
  font-size: 0.875rem;
}

.signupProgressFooter {
  margin-top: 16px;
  text-align: center;
}

.signupProgressFooter span {
  opacity: 0.7;
  font-size: 0.875rem;
}
