services:
  wrdlnkdn-ui:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
    ports:
      - "5173:80"